<div class='container'>
  <div class='row'>
    <!--<div class='col-md-8 offset-md-1'>-->
    <div class="col-lg-8" style="background-color: #f5f5f5;">
      <div class="img-container2">
        <% if @illust.illust_images.attached? %>
          <% @illust.illust_images.each do |image| %>
            <%= image_tag image %>
          <% end %>
        <% end %><br>

      </div>
      </div>

  <div class="col-lg-4">
    <% if @illust.user == current_user %>
    <%= link_to '編集', edit_illust_path(@illust), class: "btn btn-outline-secondary btn-block" %>
    <% end %>
    <%if admin_signed_in? %>
   <%= link_to "管理者が削除するよ", admin_illust_path(@illust), method: :delete %>
     <% end %>

    <table class="table table-striped">
      <%= link_to(@illust.user) do %>
      <!--%= image_tag @illust.user.get_profile_image(50, 50) %>-->
      <!--%= @illust.user.name %>-->
      <% end %>
    <h4><%= @illust.illust_name %></h4><br>
        <%= @illust.illust_body %><br>
         <% if @illust.is_active == true %>
          #AIイラストです
          <% elsif @illust.is_active == false %>
          #AIイラストではありません
          <% end %>

    <%= render 'illusts/tag_list', tag_list: @illust.tag_list, class: "" %>

      <% if user_signed_in? %>
      　<div id="favorite_buttons_<%= @illust.id %>">
  　　<%= render "favorites/favorite", illust: @illust %>
  　　</div>

  　　<div class="new-illust_comment">
      <%= render 'illust_comments/form', illust: @illust, illust_comments: @illust_comments %>
    </div>

     <div class="illust_comments">
      <%= render 'illust_comments/illust_comments', illust: @illust %>
    </div>

    <% elsif admin_signed_in? %>
    <!--コメント一覧部分-->
    <div class="illust_comments">
      <%= render 'illust_comments/illust_comments', illust: @illust %>
    </div>
    <% end %>
    </table>

    </div>

  </div>
</div>



